<html>
<head>
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Select books you want, input your name, and submit.</h1>
    <p>If you've selected books before and they're not here, don't panic: it removes already taken books</p>
    <form method="post" action="{{ url_for('test_request')}}">
    <input type="text" name="claimer" placeholder="your name here" required><br>
    {% for book in booklist %}
    {% if book.claimed == 0 %}
    <p><input type="checkbox" name="{{book.book_id}}">
        <div id="book-title">{{ book.title }} -</div>
        <div id="book-author">{{ book.author }} </div></p><br>
    {% endif %}
    {% endfor %}
    <input type="submit" name="Submit">
    </form>
</body>
</html>
